/* .title {
  display: block;
  margin: 0;
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-size: 40px;
  font-style: italic;
  font-weight: 700;
} */
.friend_list {
  border: 2px solid gray;
  border-radius: 10px;
  max-width: 556px;
  margin: 20px;
  padding: 20px;
  margin-top: 0;

  /* padding-left: 0; */
  display: flex;
  font-size: 20px;
  justify-content: space-around;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 10px;
  width: 70px;
  background-color: teal;
}

.disabled {
  composes: item;
  background-color: tomato;
}
