.profile {
  /* display: flex;
  flex-direction: column; */
  border: 2px solid gray;
  border-radius: 10px;
  max-width: fit-content;
  margin: 20px;
  padding: 20px;
}
.description {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  font-size: 24px;
}
.avatar {
  max-width: 100%;
}
.name {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-size: 40px;
  font-style: italic;
  font-weight: 700;
}

.tag {
  display: flex;
  justify-content: center;
}

.location {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.stats {
  padding-left: 0;
  display: flex;
  font-size: 20px;
  justify-content: space-around;
}
.stats_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  margin-right: 10px;
  margin-bottom: 10px;
}
.quantity {
  font-weight: 700;
}
